<div class="container">
  <div class="row">
    <div class="col-sm">
      <span class="text-muted">
        Copyright (C) 2020, CMS GEM DAQ Project.
      </span>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm">
      <span class="text-muted">
        last update: UPDATE_DATE</br>
        from revision
        <a href="https://gitlab.cern.ch/sturdy/gemdaqsite">GIT_REVISION</a>
      </span>
    </div>
  </div>
</div>
