<div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Software
        </a>
        <ul class="dropdown-menu multi-level" aria-labelledby="navbarDropdown">
          <li class="dropdown-submenu">
            <a class="dropdown-item" href="#" data-toggle="dropdown">API documentation</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/SITE_ROOT/docs/api/cmsgemos/latest">cmsgemos</a></li>
              <li><a class="dropdown-item" href="/SITE_ROOT/docs/api/gemplotting/latest">gemplotting</a></li>
              <li><a class="dropdown-item" href="/SITE_ROOT/docs/api/vfatqc/latest">vfatqc</a></li>
              <li><a class="dropdown-item" href="/SITE_ROOT/docs/api/ctp7_modules/latest">ctp7_modules</a></li>
              <li><a class="dropdown-item" href="/SITE_ROOT/docs/api/reg_utils/latest">reg_utils</a></li>
              <li><a class="dropdown-item" href="/SITE_ROOT/docs/api/xhal/latest">xhal</a></li>
              <li><a class="dropdown-item" href="/SITE_ROOT/docs/api/reg_interface_gem/latest">reg_interface_gem</a></li>
            </ul>
          </li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="/SITE_ROOT/sw/gemos/repos/RPM-GPG-KEY-gemos">RPM GPG signing key</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item" href="#" data-toggle="dropdown">YUM repo files</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/SITE_ROOT/sw/gemos/repos/releases/legacy/gemos_release_peta_armv7l.repo">armv7l</a></li>
              <li><a class="dropdown-item" href="/SITE_ROOT/sw/gemos/repos/releases/legacy/gemos_release_centos7_x86_64.repo">centos7</a></li>
              <li><a class="dropdown-item" href="#" aria-disabled="true">centos8</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Guides
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/SITE_ROOT/guides/userguide">User's guide</a></li>
          <li><a class="dropdown-item" href="/SITE_ROOT/guides/expertguide">Expert's guide</a></li>
          <li><a class="dropdown-item" href="/SITE_ROOT/guides/devguide">Developer's guide</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          GitLab
        </a>
        <ul class="dropdown-menu multi-level" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project">Project</a></li>
          <li><a class="dropdown-item" href="https://gitlab.cern.ch/groups/cms-gem-daq-project/-/issues">Issues</a></li>
          <li><a class="dropdown-item" href="https://gitlab.cern.ch/groups/cms-gem-daq-project/-/merge_requests">Merge Requests</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item" href="#">Software</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/cmsgemos">cmsgemos</a></li>
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/gem-plotting-tools">gemplotting</a></li>
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/vfatqc-python-scripts">vfatqc</a></li>
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/ctp7_modules">ctp7_modules</a></li>
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/reg_utils">reg_utils</a></li>
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/xhal">xhal</a></li>
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/GEMRunConfigs">Run configurations</a></li>
            </ul>
          </li>
          <li><div class="dropdown-divider"></div></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item" href="#">Firmware</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/GEM_AMC">GEM AMC FW</a></li>
              <li><a class="dropdown-item" href="https://gitlab.cern.ch/cms-gem-daq-project/OptoHybridv3">OptoHybrid FW</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
