.wy-nav-content {
   max-width: 960px
}

.rst-content table.align-center {
   display: table;
}

code,.rst-content tt,.rst-content code {
  font-size: 82%;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

/* sphinx-copybutton: Increase size of copy button symbol */
a.copybtn {
  width: 1.4em;
  height: 1.4em;
}
