.dropdown-menu,
.dropdown-submenu {
  position: relative;
}

.nav-item:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-menu:hover,
.dropdown-submenu > a:after {
  border-left-color: #fff;
}

main > .container {
  padding: 60px -15px 0;
}

.footer {
  background-color: #c5c5c5;
}

.footer > .container {
  background-color: #c5c5c5;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

code {
  font-size: 80%;
}

/*https://stackoverflow.com/questions/46722697/bootstrap-4-sticky-footer-not-sticking*/
body,
.sticky-footer-wrapper {
  min-height: 100vh;
}

.flex-fill {
  flex: 1 1 auto;
}
